*.suo
*~
*.user
*.aps
*.ipch
*.sdf
*.opensdf

# From https://github.com/github/gitignore/blob/main/VisualStudio.gitignore
# Visual Studio 2015/2017 cache/options directory
.vs/
# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Log files
*_log.txt

# Build/output directories
obj/
bin/
build/

# Installer output
Installer/Output

# Installer pre-processor
Installer/PreprocessedpGina0.iss
